.suggestions-list {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute; 
    z-index: 1;
    width: 95%;
    max-height: 160px;
    overflow-y: auto;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.suggestions-item {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions-item:hover {
    background-color: #f0f0f0;
}